.user_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background-color: cadetblue;
    border-radius: 2.2rem;
}

.users {
    height:75vh;
    overflow: auto;
    width: 90vw;
    padding: 15px 15px;
    border-radius: 1rem;
    background-color: rgba(0, 105, 204, 0.9);
}

.subs {
    text-decoration: none;

}
.user_id {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px 2px;
    border-style: none;
    border-radius: 0.65rem;
    color: black;
    background-color: rgba(17, 206, 219, 0.9);
}