{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/css/about_.css">
    {# ABOUT #}
    <section class="about" id="about" >
        <div class="abouts">
            <div class="main-content">
                    {# COMMENT #}
                    <h1 class="daH">ABOUT US</h1>
                    <div class="about-pic"></div>
                    <div class="over-text">
                        <p> {{ para }} </p>
                    </div>
            </div>
            <div class="main-content">
                    {# COMMENT #}
                    <h1 class="daH">ABOUT PILOT</h1>
                    <div class="pilot-pic"></div>
                    <div class="over-text">
                        <p> 
                            My name is Conor Wright
                            I have loved boats as far as I can remember and grew up around boats aswell as jetskis
                            I have a life time of boating experience, i have a great passion for the ocean and sea life.
                        </p>
                    </div>
            </div>
        </div>
    </section>



{% endblock %}
