{% block content %}


    <link rel="stylesheet" type="text/css" href="../static/css/footer_.css">
    {# FOOTER #}
    <section>
        <footer>
            <div class="left-foot">
                <div class="contact-us">
                    <a>ADMIN_FOOTER</a>
                    <p> Ts & Cs MUST GO HERE</p>
                </div>
                <div class="foot-nav">
                    <ul class="foot-nav-menu">
                        <li class="foot-nav-item">
                            <a href="#"  id="m_" class="foot-nav-link">MAIN</a>
                        </li>
                        <li class="foot-nav-item">
                            <a href="#" id="n_" class="foot-nav-link">NEWS</a>
                        </li>
                        <li class="foot-nav-item">
                            <a href="#" id="a_" class="foot-nav-link">ABOUT</a>
                        </li>
                        <li class="foot-nav-item">
                            <a href="#" id="_" class="foot-nav-link">JOIN</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot-links">
                <ul class="foot-ul" >
                    <li>
                        {# PHONE LINK #}
                        <a href="#" class="insta">
                            <ion-icon size="large" name="logo-instagram">
                            </ion-icon>
                        </a>
                    </li>
                    <li>
                        {# FACEBOOK LINK #}
                        <a href="https://www.facebook.com/thundercats268.antigua/" class="fb-l">
                            <ion-icon size="large" name="logo-facebook">
                            </ion-icon>
                        </a>
                    </li>


                    <li>
                        {# EMAIL #}
                        <a href="email:thundercats268antigua@gmail.com" class="email">
                            <ion-icon size="large" name="mail">
                            </ion-icon>
                        </a>
                    </li>
                    <li>
                        {# PHONE LINK #}
                        <a href="tel:+(268)7788577" class="phone">
                            <ion-icon size="large" name="call">
                            </ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </footer>
    </section>



{% endblock %}