{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin_index.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='pics/logo_1.png') }}" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <title>ADMIN_PAGE</title>
</head>
    {% include "admin_nav.html" %}
    {% include "admin_bookings.html" %}
    {% include "admin_subs.html" %}
    {% include "admin_news.html" %}
    {% include "admin_about.html" %}
    {% include "admin_mailer.html" %}

{% endblock %}