
{% block content %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

      
<div id="calendar"></div>
<p id="demo" onclick="myFunction()">Calendar</p>
      <script>
        function myFunction() {
          document.getElementById("demo");
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            aspectRatio: '2.25',
            events: [
            {
              title: 'Crucible',
              start: '2023-07-18',
              end: '2023-07-22',
              url: 'https://www.britannica.com/science/jungle',
              selectable: true,
              editable: false,
            }
            ],
            eventBackgroundColor: 'red',
            eventTextColor: 'white',
            eventBorderColor: 'green',
            header: {
              center: 'addEventButton'
            },
            customButtons: {
              myCustomButton: {
                text: 'crucible!',
                click: function() {
                  alert('clicked the crucible button!');
                }
              }
            },
            headerToolbar: {
              right: 'prev,next today myCustomButton',
              center: 'title',
              left: 'dayGridMonth,timeGridWeek,timeGridDay'

            },
            eventClick: function(info) {
              info.jsEvent.preventDefault();


              if (info.event.url) {
                window.open(info.event.url);
              }
            },
            dateClick: function(info) {
              alert('Date: ' + info.dateStr);
            },
          });
          calendar.render();
       };
  
      </script>

{% endblock content %}