{% block content %}


    <link rel="stylesheet" type="text/css" href="../static/css/footer_.css">
    {# FOOTER #}

        <footer class="myFoot">

            <div class="qr"></div>

            <div class="foot-links">
                <ul class="foot-ul" >
                    <li>
                        {# INSTA LINK #}
                        <a href="http://instagram.com/Thundercats268/" class="insta">
                            <ion-icon name="logo-instagram">
                            </ion-icon>
                        </a>
                    </li>
                    <li>
                        {# FACEBOOK LINK #}
                        <a href="https://www.facebook.com/thundercats268.antigua/" class="fb-l">
                            <ion-icon  name="logo-facebook">
                            </ion-icon>
                        </a>
                    </li>


                    <li>
                        {# EMAIL LINK #}
                        <a href="mailto: thundercats268antigua@gmail.com" class="email">
                            <ion-icon name="mail">
                            </ion-icon>
                        </a>
                    </li>
                    <li>
                        {# PHONE LINK #}
                        <a href="tel:+(268)7788577" class="phone">
                            <ion-icon  name="call">
                            </ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </footer>



{% endblock %}
