<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/admin_login.css">
    
    <title>LOGIN__</title>
</head>
<body class="login_sect">
    <form method="POST" class="login_block">
        <input type="text" name="NAME" required>
        <input type="password" name="PSWD" required>
        <div class="opts">
            <input type="submit" name="submit_pswd" value="login">
            <button href="http://www.beta.thundercats268.com/"  name="back" >back</button>
        </div>
    </form>
</body>
</html>