
{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/news_.css">
    </head>

    {# NEWS #}
    <section>
        <div class="new_sect" id="news">
            
            <div class="news_head">
                <h1 >NEWS</h1>
            </div>
            <div class="news_mdcards">
                <!-- div class="boats">
                    {# COMMENT #}
                        <h1>BOAT</h1>
                        <h3>REG#</h3>
                        <div class="boat_pic">
                        </div>
                        <h3 class="new_line">Inflateble Speed Boat</h3>
                </div -->
                <div class="news">
                    <div class="news_pic">
                        {# COMMENT #}
                        <div class="over-text"><p class="new_line">{{ show_news }}</p></div>
                    </div>
                </div>
            </div>
            <div class="scroll-wrapper">
                <div class="scroll-track">
                    <div class="slide">
                        <img src="../static/pics/spb_1.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_2.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/beach_bg_3.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_4.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_5.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="../static/pics/spb_6.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_7.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_8.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_5.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_6.jpg" alt="">
                    </div>                    
                    <div class="slide">
                        <img src="../static/pics/spb_1.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="../static/pics/spb_2.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../static/pics/spb_3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        </section>
{% endblock %}    
